[submodule "vendor/handlr"]
	path = vendor/handlr
	url = git@git.meza.hu:handlr.git
[submodule "vendor/restlr"]
	path = vendor/restlr
	url = git@git.meza.hu:restlr.git
[submodule "vendor/http"]
	path = vendor/http
	url = git@git.meza.hu:http.git
